.cactus-container {
  /* everything */
  font-family: "Helvetica", "Arial", sans-serif;
}

.cactus-editor {
  /* comment text field and login */
  display: flex;
  flex-direction: column;
}

.cactus-comment {
  /* a comment */
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.cactus-comment-avatar {
  /* avatar beside comment content */
  padding-left: 1rem;
  padding-right: 1rem;
}

.cactus-comment-avatar > img {
  /* the avatar image */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.cactus-comment-content {
  /* stuff left of the avatar: header and body */
  display: flex;
  flex-direction: column;
}

.cactus-comment-header {
  /* user name and posting time */
  display: flex;
}
.cactus-comment-header > * {
  margin: 0;
  font-size: 1em;
}

.cactus-comment-displayname {
  /* user name */
  font-weight: bold;
  padding-right: 0.5rem;
}

.cactus-comment-displayname > a {
  /* dont style link */
  text-decoration: none;
  color: inherit;
}

.cactus-comment-time {
  /* comment posting time  */
  opacity: 0.7;
}

.cactus-comment-body > * {
  /* text or media content of comment */
  margin: 0;
  margin-top: 0.5em;
}

/* body for different message types */
.cactus-message-text {
}

.cactus-message-emote {
  padding-top: 0.5em;
  opacity: 0.7;
}
